<header class="header">

  <div class="header_main">
    <div class="container">
      <div class="row">
        <!-- Logo -->
        <div class="col-lg-2 col-sm-3 col-3 order-1">
          <div class="logo_container">
            <div class="logo"><a href="#">
                <img src="assets/images/logo-dark.png" alt="" height="50">
              </a></div>
          </div>
        </div> <!-- Search -->
        <div class="col-lg-5 col-12 order-lg-2 order-3 text-lg-left text-right align-self-center offset-1">
          <div class="app-search">
            <form action="#" class="position-relative clearfix">
              <input type="search" required="required" class="form-control"
                placeholder="Search for Categories, Vouchers, Offers">
              <button type="submit" value="Submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
        </div> <!-- Wishlist -->
        <div class="col-lg-3 col-9 order-lg-3 order-2 text-lg-left text-right align-self-center offset-1">
          <div class="d-flex flex-row align-items-center justify-content-between">
              <div class="top-bar-button"><i class="fa fa-shopping-cart"></i></div>
            <div class="top-bar-button">
              Orders
            </div>
            <div class="top-bar-button">
              Login
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Main Navigation -->
  <app-horizontaltopbar></app-horizontaltopbar>
</header>