.product-name.mt-3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.carousel-container{
    width:100%;
    height:388px;
    overflow: hidden;
    left:0%;
}
.arrow-container{
    margin-bottom: 0.5rem;
    text-align: end;
}
.left_arrow, .right_arrow{
    color: #495057;
    font-size: 1.3125rem;
    cursor: pointer;
}
.left_arrow::after{
    content: ' \003C';
}
.right_arrow::after{
    content: ' \003E';
}
.carousel-title-container{
    justify-content: space-between;
}
.carousel-container{
    ngb-carousel{
        width: 100%;
        .carousel-item{
            flex-wrap: wrap;
            margin-right: -12px;
            margin-left: -12px;
            transition: display 0.7s ease !important;
        }
        .carousel-item.active{
            display: flex;
        }
    }
    .carousel-indicators li{
        background: #495057;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 0px;
    }
}