.accordion.filter-accordion .card{
    background: transparent;
    border: 0;
    border-radius: 0px;
    padding: 5px 0px;
    .header-text{
        font-size: 16px;
        color:#000000;
    }
    .btn-link{
        &:hover, &:focus{
            color: #000000;
            text-decoration: none;
        }
    }
    .header-text:focus{
        outline: none;
    }
}
.accordion.filter-accordion > .card:not(:last-of-type){
    border-bottom: 1px solid #D2D1D1;
}
.accordion.filter-accordion .card-header{
    background: transparent;
}

.accordion.filter-accordion{
    .price-values{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .min-price-value{
            text-align: start;
            #minPriceVal{
                width: 100%;
                font-size: 12px;
            }
        }
        .max-price-value{
            text-align: end;
            #maxPriceVal{
                width: 100%;
                font-size: 12px;
            }
        }
        #maxPriceVal, #minPriceVal{
            -moz-appearance: textfield;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &:focus{
                outline: none;
            }
        }
    }
    .card-body{
        padding: 10px 15px;
    }
    .ng5-slider{
        margin-top: 15px;
    }
    .ng5-slider-floor{
        left:-10px;
        bottom:-30px;
        opacity: 1 !important;
    }
    .ng5-slider-ceil{
        right:-15px;
        bottom:-30px;
        opacity: 1 !important;
        text-align: right;
    }
    .ng5-slider-combined, .ng5-slider-model-high, .ng5-slider-model-value{
        display: none;
    }
}