.filter-title {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
}

.ng5-slider {
    .ng5-slider-selection {
        background: #099C88 !important;
        box-shadow: 0px 0px 0px #9F9F9F;
    }
}

