.padding-bottom{
    padding-bottom: 40px;
}

.accordion-container{
    width: 100%;
    padding: 0px 20px;
    border: 1px solid #D2D1D1;
    border-radius: 4px;
}
.accordion .card{
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
}
.accordion .card-header{
    background: transparent;
}