.padding-bottom{
    padding-bottom: 40px;
}

.accordion-container{
    width: 100%;
    padding: 0px 20px;
    border: 1px solid #D2D1D1;
    border-radius: 4px;
}
.accordion .card{
    background: transparent;
    border: 0;
    border-radius: 0px;
    padding: 15px 0px;
    .header-text{
        font-size: 20px;
        color:#000000;
    }
    .btn-link{
        &:hover, &:focus{
            color: #000000;
            text-decoration: none;
        }
    }
    .header-text:focus{
        outline: none;
    }
}
.accordion > .card:not(:last-of-type){
    border-bottom: 1px solid #D2D1D1;
}
.accordion .card-header{
    background: transparent;
}

.up_arrow, .down_arrow{
    font-size:32px;
    line-height: 0.6;
    text-align: center;
}
.down_arrow{
    transform: rotateX(180deg);
}
.up_arrow::after{
    content: ' \005E';
}
.down_arrow::after{
    content: ' \005E';
}