<div class="container">
  <div class="row pt-4">

    <div class="col-xl-8">
      <div class="cart-page-title  pb-5">
        Cart
        <span class="cart-page-items">(1 Item)</span>
      </div>
      <div class="row">
        <div class="col-2">
          <img src="assets/images/products/mobile1.png">
        </div>
        <div class="col-6">
          <div class="cart-item-name">Samsung Galaxy A51 Smart Phone, 128 GB, 6 GB RAM, Prism White</div>
          <div class="cart-address-short">Delivery to 400050 in 3-4 business days Free Shipping</div>
          <div>
            <div class="d-flex align-middle align-items-center pt-4 pb-4">
              <div class="font-weight-light pincode-label mr-2 label-sm">Quantity</div>
              <div class="d-flex justify-content-start">
                <button class="btn btn-count">-</button>
                <input type="number" value="1" placeholder="" class="input-count py-1 px-1 text-center" />
                <button class="btn btn-count">+</button>
              </div>
            </div>
            <div>
              <button class="btn btn-link cart-link">Edit</button>
              <button class="btn  btn-link cart-link ml-4">Remove</button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="cart-selling-price">₹ 23,999</div>
          <div class="cart-incl-tax">
            Inclusive of all taxes
          </div>
          <div class="cart-mrp">₹ 25,990 (6% off)</div>
          <div class="cart-link ">Add ResQ Services</div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card cart-card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table mb-0">
              <tbody>
                <tr>
                  <td class="cart-for">Cart total</td>
                  <td class="cart-val text-right">₹ 23,999</td>
                </tr>
                <tr>
                  <td class="cart-for">Delivery Charges</td>
                  <td class="cart-val text-right">₹ 0</td>
                </tr>
                <tr class="cart-divider">
                  <th class="cart-tot-for">You Need to Pay</th>
                  <th class="cart-tot-val text-right">₹ 23,999</th>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-primary btn-block mt-3">Proceed to Pay</button>
          </div>
          <!-- end table-responsive -->
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->