<div class="container-fluid">
  <!-- page title -->
  <div (mouseenter)="showPopup=true" (mouseenter)="showPopup=false">
    <app-page-title title="Smartphones" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  </div>

  <div *ngIf="showPopup">
    <app-breadcrumb-popup></app-breadcrumb-popup>
  </div>

  <div class="row">
    <div class="col-lg-2">
      <app-filter></app-filter>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-xl-3 col-sm-6" *ngFor="let product of products">
          <a [routerLink]="['/products', 'product'+product.id]" class="card">
            <div class="card-body">
              <div class="product-img position-relative">
                <img src="https://i.ibb.co/t4Jdp5D/products-28.png" alt="{{product.product_name}}"
                  class="img-fluid mx-auto d-block">
              </div>
              <div class="product-name mt-3">
                {{product.product_name}}
              </div>
              <div class="d-flex justify-content-between my-2">
                <div>
                  <div class="product-val">₹ {{product.selling_price}}</div>
                  <div class="product-sec-text strike-through">₹ {{product.actual_price}}</div>
                </div>
                <div>
                  <div class="product-val">₹ {{product.emi}}</div>
                  <div class="product-sec-text">Lowest EMI</div>
                </div>
              </div>
              <div class="product-sec-text">
                Pay later with Flexipay
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
