<div class="container-fluid">
  <!-- page title -->
  <app-page-title title="Smartphones" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-2">
      <div class="card border-0">
        <h5 class="mb-4 text-uppercase">Filters</h5>
        <div class="card-body pr-5 pl-0">          
          <div class="d-flex product-filter-header">
            <div class="mr-2"> + </div>
            <div><h4>Price</h4></div>
          </div>
          <ng5-slider [(value)]="pricevalue" [(highValue)]="maxVal" [options]="priceoption"></ng5-slider>
          <div *ngFor="let filter_item of filter_options" class="product-filter-item">
            <div class="d-flex product-filter-header">
              <div class="mr-2"> + </div>
              <div><h4>{{filter_item.name}}</h4></div>
            </div>
            <div>
              <div class="custom-control custom-checkbox mt-2" *ngFor="let option of filter_item.options">
                <input type="checkbox" class="custom-control-input" id="{{filter_item.key}}_{{option.id}}">
                <label class="custom-control-label" for="{{filter_item.key}}_{{option.id}}">{{option.name}}
                </label>
              </div>
            </div>
          </div>
          <div class="mt-4 pt-3">
            <div class="d-flex product-filter-header">
              <div class="mr-2"> + </div>
              <div><h4>Rating</h4></div>
            </div>
            <div>
              <div class="custom-control custom-checkbox mt-2">
                <input type="checkbox" class="custom-control-input" id="productratingCheck1">
                <label class="custom-control-label" for="productratingCheck1">4 <i class="bx bx-star text-warning"></i>
                  & Above</label>
              </div>
              <div class="custom-control custom-checkbox mt-2">
                <input type="checkbox" class="custom-control-input" id="productratingCheck2">
                <label class="custom-control-label" for="productratingCheck2">3 <i class="bx bx-star text-warning"></i>
                  & Above</label>
              </div>
              <div class="custom-control custom-checkbox mt-2">
                <input type="checkbox" class="custom-control-input" id="productratingCheck3">
                <label class="custom-control-label" for="productratingCheck3">2 <i class="bx bx-star text-warning"></i>
                  & Above</label>
              </div>
              <div class="custom-control custom-checkbox mt-2">
                <input type="checkbox" class="custom-control-input" id="productratingCheck4">
                <label class="custom-control-label" for="productratingCheck4">1 <i
                    class="bx bx-star text-warning"></i></label>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-xl-3 col-sm-6" *ngFor="let product of products">
          <a href="http://localhost:4200/ecommerce/product-detail" class="card">
            <div class="card-body">
              <div class="product-img position-relative">
                <img src="https://i.ibb.co/t4Jdp5D/products-28.png" alt="{{product.product_name}}"
                  class="img-fluid mx-auto d-block">
              </div>
              <div class="product-name mt-3">
                {{product.product_name}}
              </div>
              <div class="d-flex justify-content-between my-2">
                <div>
                  <div class="product-val">₹ {{product.selling_price}}</div>
                  <div class="product-sec-text strike-through">₹ {{product.actual_price}}</div>
                </div>
                <div>
                  <div class="product-val">₹ {{product.emi}}</div>
                  <div class="product-sec-text">Lowest EMI</div>
                </div>
              </div>
              <div class="product-sec-text">
                Pay later with Flexipay
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
