<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="font-weight-light text-center my-5 lg-text">Your smart deals are here!</div>
      <!--       
      <div class="col-6">
        <ul class="list-group">
          <a href="http://localhost:4200/ecommerce/products" class="list-group-item">Product List</a>
          <a href="http://localhost:4200/ecommerce/product-detail" class="list-group-item">Product Details</a>
        </ul>
      </div> -->
    </div>
    <div class="col-12">
    </div>
  </div>
</div>