.lg-text {
    font-size: 24px;
}

.dashboard-option-text {
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    margin-left: 16px;
}

.dashboard-suggetion-card {
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    padding: 20px 30px;
    img {
        height: 100px;
        width: 100px;
    }
}