<div class="container-fluid">

  <div class="row">
    <div class="col-12 p-0 dashboard-carousel">
      <ngb-carousel showNavigationIndicators="false">
        <ng-template ngbSlide>
          <img src="assets/images/small/img-2.jpg" alt="first slide" class="d-block">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/images/small/img-1.png" alt="second slide" class="d-block">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/images/small/img-2.jpg" alt="third slide" class="d-block">
        </ng-template>
      </ngb-carousel>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">

      </div>

      <div class="col-12">
        <div class="font-weight-light text-center my-5 lg-text">Your smart deals are here!</div>
        <!--       
            <div class="col-6">
              <ul class="list-group">
                <a href="http://localhost:4200/ecommerce/products" class="list-group-item">Product List</a>
                <a href="http://localhost:4200/ecommerce/product-detail" class="list-group-item">Product Details</a>
              </ul>
            </div> -->
      </div>
      <div class="col-12">
        <div class="lg-text font-weight-light">Browse By Category</div>
        <div></div>
        <div class="pt-4">
          <ngb-carousel showNavigationIndicators="false">
            <ng-template ngbSlide>
              <div class="d-flex flex-wrap">
                <div class="col-md-3 mb-4 " *ngFor="let option of dashboard_options let i = index">
                  <div class="dashboard-suggetion-card ">
                    <a routerLink="/products">
                      <div class="d-flex justify-content-center align-items-center">
                        <img [src]="'assets/images/dashboard/option' + i + '.png'">
                        <div class="dashboard-option-text">{{option}}</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>

      </div>
      <div class="col-12">
        <div class="landing-page-banner ">
          <div class="landing-page-banner-title">HDFC BAnk Offers</div>
          <img src="assets/images/landing_offer.png" alt="first slide" class="d-block banner-image">
        </div>
      </div>
    </div>
  </div>

</div>